* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-slv-ita.it.acx -text
/apertium-slv-ita.ita-slv.t1x -text
/apertium-slv-ita.ita-slv.t2x -text
/apertium-slv-ita.ita-slv.t3x -text
/apertium-slv-ita.slv-ita.dix -text
/apertium-slv-ita.slv-ita.t1x -text
/apertium-slv-ita.slv-ita.t2x -text
/apertium-slv-ita.slv-ita.t3x -text
/autogen.sh -text
/configure.ac -text
dev/TODO_merge_apertium.ita.dix -text
dev/old-ita.prob -text svneol=unset#unset
dev/story.it.txt -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
