/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/ita-slv.autobil.bin
/ita-slv.autogen.bin
/ita-slv.automorf.bin
/ita-slv.autopgen.bin
/ita-slv.prob
/ita-slv.t1x.bin
/ita-slv.t2x.bin
/ita-slv.t3x.bin
/missing
/modes
/slv-ita.autobil.bin
/slv-ita.autogen.bin
/slv-ita.automorf.bin
/slv-ita.autopgen.bin
/slv-ita.prob
/slv-ita.rlx.bin
/slv-ita.t1x.bin
/slv-ita.t2x.bin
/slv-ita.t3x.bin
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*.mode
/config.in
/config
/test/*-output.txt
